# Security Warning: Keep the secret key used in production secret!
SECRET_KEY=your_secret_key_here

# Security Warning: Don't run with debug turned on in production!
DEBUG=False

# Comma-separated list of allowed hosts
ALLOWED_HOSTS=your_domain.com,localhost
